alembic
blinker
certifi
charset-normalizer
click
coverage
distlib
Faker
filelock
Flask==2.2.5
Flask-Cors
Flask-JWT-Extended
Flask-Migrate
Flask-Script
Flask-SQLAlchemy==3.0.2
Flask-Testing
greenlet
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
pipenv
platformdirs
PyJWT
python-dateutil
requests
six
SQLAlchemy
SQLAlchemy-serializer
typing_extensions
urllib3
virtualenv
Werkzeug
zipp
